

<h2>Feedbacks <br>
</h2>
<h3>
<div>

  <table class="table table-hover">
    <tr *ngFor="let post of posts"><td>
     <div> {{post.title}}   by <small>{{post.name}}</small></div>
    </td><td>
<button (click)="onSelect(post)" class="btn btn-info btn-sm" data-toggle="tooltip" title="Show Item"><span class="glyphicon glyphicon-th-list"> View</span></button>
<button (click)="onDelete(post); $event.stopPropagation()" class="btn btn-warning btn-sm" data-toggle="tooltip" title="Delete Item"><span class="glyphicon glyphicon-remove"> Remove</span></button></td>
  
  </tr>
</table>

</div>

<!-- Show selected post if exist -->
<!--<div *ngIf="selectedPost">
<h2>
    {{selectedPost.title }}--Posted By :-{{selectedPost.id}}
    <br>
    ----------------------------------------- <br>
    {{selectedPost.desc}}
  </h2>
  <button (click)="gotoDetail()">Edit Details</button> </div>
<hr>-->
</h3>


